In [1]:
import pandas as pd
import glob
import re
import nltk

In [2]:
nltk.download('punkt')

[nltk_data] Downloading package punkt to /Users/shubham/nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

# Reading the Positive Comments

In [3]:
pathP = "train/pos"
all_files = glob.glob(pathP + "/*.txt")

li = []

for files in all_files:
    f = open(files,"r")
    data = f.read()
    f.close
    li.append(data)

In [4]:
pathP = "train/pos"
all_files = glob.glob(pathP + "/*.txt")

li1 = []

for files in all_files:
    a = re.findall(r"(\d+)\.",str(files))
    li1.append(a)

In [5]:
df1 = pd.DataFrame(li)

In [6]:
df1['rating'] = ""

In [7]:
for i in range(0,len(li1)-1):
    df1.rating[i] = li1[i]

In [8]:
df1.head()

                                                   0 rating
0  For a movie that gets no respect there sure ar...    [9]
1  Bizarre horror movie filled with famous faces ...    [8]
2  A solid, if unremarkable film. Matthau, as Ein...    [7]
3  It's a strange feeling to sit alone in a theat...    [8]
4  You probably all already know this by now, but...   [10]

# Reading the Negative comments

In [9]:
pathN = "train/neg"
all_files = glob.glob(pathN + "/*.txt")

li = []

for files in all_files:
    f = open(files,"r")
    data = f.read()
    f.close
    li.append(data)

In [10]:
pathN = "train/neg"
all_files = glob.glob(pathN + "/*.txt")

li2 = []

for files in all_files:
    a = re.findall(r"(\d+)\.",str(files))
    li2.append(a)

In [11]:
df2 = pd.DataFrame(li)

In [12]:
df2['rating'] = ""

In [13]:
for i in range(0,len(li2)-1):
    df2.rating[i] = li2[i]

In [14]:
df2.shape

(12500, 2)

## Merging both the datasets

In [15]:
total = [df1,df2]
df = pd.concat(total)
df.shape

(25000, 2)

In [16]:
df = df.sample(frac = 1)

## Wrangling - naming the columns

In [17]:
df.columns=['comment','rating']

In [18]:
df["unigrams"] = df["comment"].apply(nltk.word_tokenize)

In [19]:
df.head()

,comment,rating,unigrams
5173,"Funny, sexy, hot!!! There is no real plot but ...",[10],"[Funny, ,, sexy, ,, hot, !, !, !, There, is, n..."
10244,This movie was awesome!! (Not quite as good as...,[4],"[This, movie, was, awesome, !, !, (, Not, quit..."
11385,Manhattan apartment dwellers have to put up wi...,[8],"[Manhattan, apartment, dwellers, have, to, put..."
127,"This was a superb episode, one of the best of ...",[8],"[This, was, a, superb, episode, ,, one, of, th..."
12050,Hmmm...where to start? How does a serious actr...,[4],"[Hmmm, ..., where, to, start, ?, How, does, a,..."